<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <hr>
      <h1><%= `${user.name}'s profile` %></h1>
      <p><%= `Email: ${user.name}` %></p>
      <p><%= `Phone: ${user.phone}` %></p>
      <p> User role:
        <% if (user.role == 0) { %>
          Enquirer
        <% } else if (user.role == 1) { %>
          Legal Advisor
        <% } else if (user.role == 2) { %>
          Admin
        <% } %>
      </p>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
